@media (min-device-width: 320px) and (max-device-width: 768px) {
  .email a {
    font-size: larger !important;
  }

  .contact {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
  }

  .contact-icons {
    flex-direction: column !important;
  }
  body {
    padding: 0px;
  }
  .about {
    margin-left: 0 !important;
  }

  .portfolio {
    padding: 5px 0px !important;
  }
  .nav-text {
    margin: 0 !important;
    margin-left: 4.5% !important;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .about-left {
    margin-left: 0;
  }
  .about-container {
    display: flex;
    flex-direction: column !important;
  }
  .about-right {
    margin: 30px 0 0 0 !important;
  }
  body {
    width: 100%;
    background-color: #ddd;
  }
  .project {
    display: flex;
    flex-direction: column;
  }

  .other-projects-highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .project-buton > button {
    width: 300px;
    height: 100px;
  }

  .footer {
    width: 100%;
    height: 100px;
  }

  td {
    orphans: 2;
    widows: 2;
  }

  .school-name, .program, .date {
    width: 25%;
  }


}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  width: 100%;
  background-color: #ddd;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.nav-text {
  margin-right: 40px;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 35px 20px;
  display: block;
  font-size: x-large;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.about {
  background-color: #ddd;
  margin-top: 80px;
  margin-left: 40px;
}

.about h2 {
  padding-top: 70px;
}

.about-container {
  display: flex;
  flex-direction: row;
}

.about-left {
  margin-left: 70px;
}
.about-image {
  min-width: 28vw;
  min-height: min-content;
}

.about-image img {
  border-radius: 100%;
}

.about-left img:hover {
  width: 300px;
  height: 300px;
}

.about-right {
  font-size: x-large;
  line-height: 1.5;
  margin: 30px 50px 20px 100px;
}

ul {
  list-style: none;
  text-align: left;
}

ul li::before {
  content: "\2022";
  color: white;
  font-weight: bolder;
  display: inline-block;
  width: 1em;
  line-height: 1.5;
}

.portfolio {
  background-color: #ddd;
  padding: 5px 55px;
}

.portfolio a {
  color: #17adb4;
}

.portfolio a:hover {
  color: black;
}

.portfolio h2 {
  margin-bottom: 35px;
}

.portfolio h2 {
  padding-top: 30px;
}

.portfolio h3,
p {
  margin-left: 30px;
}

.portfolio p {
  font-size: x-large;
  margin-right: 50px;
  margin-top: 30px;
  text-align: justify;
}

.project {
  display: flex;
  margin-bottom: 50px;
}

.portfolio-details {
  width: 95vw;
}

.contact {
  background-color: #ddd;
  padding-bottom: 25px;
}

.contact a {
  font-size: x-large;
  color: #282c34;
}

.contact h2 {
  margin: 30px;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact-element i {
  margin-right: 15px;
}

.contact-element i:hover {
  color: #17adb4;
}

.contact-element a:hover {
  color: #17adb4;
}

.footer {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  min-height: 5vw;
  margin: 0px !important;
}

.other-projects-highlights {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  .project-buton {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    & h5 {
      margin-left: 10px;
      margin-bottom: 40px;
    }
  }
}

button {
  background-color: #17adb4;
  color: #ddd;
  font-weight: bold;
  width: 200px;
  height: 50px;
  border: none;
}

.table-striped {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #17adb4;
  color: whitesmoke;
}

td {
  font-size: x-large;
  color: #212529;
  padding: 5px;
}

.education{
  display: flex;
  padding-left: 70px;
  flex-direction: column;
}

.school-name {
  font-weight: bold;
  font-size: x-large;
  color: #17adb4;
}

.program, .date {
  font-size: x-large;
}

.date {
  font-style: italic;
}


.edu-headline {
  padding-left: 50px;
  margin-bottom: 35px;
}
